<h1>Users</h1>
<table class =" table table-bordered">

<thead>
<tr>
<th>id</th>
<th>Username</th>
<th>Name</th>
<th>Status</th>
</tr>
</thead>

<body>

{{#each posts}}

<tr>
<th>{{id}}</th>
<th>{{firstName}}</th>
<th>{{userName}}</th>
<th>{{status}}</th>
</tr>

{{/each}}

</body>