<h3>{{{viewTitle}}}</h3>
<form method="POST" action="/signup" autocomplete="off">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>First Name</label>
            <input type="text" class="form-control" name="fname" placeholder="First Name">
        </div>
        <div class="form-group col-md-6">
            <label>Last Name</label>
            <input type="text" class="form-control" name="lname" placeholder="Last Name">
        </div>
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" name="email" placeholder="Email">
    </div>
    <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" name="username" placeholder="Username">
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" name="password" placeholder="Password">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
    </div>
</form>